<h2 class="mt-5">Resumo das Tasks</h2>

<div >
   
    <div class="row">  
    <div class="col-sm"> Novas </div>   
    <div class="col-sm"> {{ summary.amountNew }} </div>  
    </div>

    <div class="row">  
        <div class="col-sm"> Atribuídos </div>   
        <div class="col-sm"> {{ summary.amountAssigned }} </div>  
    </div>    

    <div class="row">  
        <div class="col-sm"> Resolvidas  </div>   
        <div class="col-sm"> {{ summary.amountResolved }} </div>  
    </div>

    <div class="row">  
        <div class="col-sm"> Aprovadas  </div>   
        <div class="col-sm"> {{ summary.amountAproved }} </div>  
    </div>

    <div class="row">  
        <div class="col-sm"> Desaprovados </div>   
        <div class="col-sm"> {{ summary.amountDisaproved }} </div>  
    </div>

    <div class="row">  
        <div class="col-sm"> Fechados  </div>   
        <div class="col-sm"> {{ summary.amountClosed }} </div>  
    </div>
</div>
